@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:700');

.profile-photo {
  opacity: .8;
}

body {
  font-family: font-family: 'Roboto', sans-serif;
}

h2, h1, h3 {
  padding-top: 1rem;
}


footer {
 display: flex;
 flex-direction: row;
 flex-flow: nowrap;
 justify-content: space-between;
 position: absolute;
 bottom: 0;
 width: 100%;
}

footer ul {
 display: flex;
 flex-direction: row;
 flex-flow: nowrap;
 justify-content: space-between;
 align-content: center;
 list-style: none;
}

footer h2 {
  padding: 1.5rem;
  color: white;
  font-family: 'Cinzel Decorative', cursive;
  display: flex;
  align-items: center;
  align-content: center;
  font-size: 2rem;
}

footer li {
  padding: 1.4rem;
  display: flex;
  align-items: center;
  align-content: center;
  font-size: 1.3rem;
}

footer a {
  color: white;
  font-family: 'Cinzel Decorative', cursive;
}



@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}
